:root {
  /* 색깔 */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-brown: #f1c18a;
  --color-beige: #f7dec1;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #dfdfdf;
  --color-purple: #a885f2;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* 폰트 사이즈 */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* 폰트 두께 */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* 사이즈 */
  --base-space: 8px;
  --size-border-radius: 4px;
  --size-button: 60px;
  --size-border: 4px;

  /* 애니메이션  */
  --anmimation-duration: 300ms;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default; /* 커서 기본 값 */
  background: var(--color-beige);
}

a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

.navbar__logo > a {
  cursor: pointer;
}

.fit-picture {
  position: relative;
  top: 5px;
}

#navbar {
  /* position: fixed; */
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-brown);
  align-items: center;
  color: var(--color-white);
  padding: 24px 16px;
  margin: 0;
  transition: all var(--anmimation-duration) ease-in-out;
  z-index: 1;
}

.navbar__menu {
  /* 가운데 있는 요소들을 위로 붙여주기 */
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.container {
  height: 100%; /* 뷰포트의 100% */
  display: flex; /* 한 줄 정렬 */
  flex-direction: column; /* 한 줄에 하나씩 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 반대축 가운데 정렬 */
}

.logo {
  cursor: pointer;
  transition: transform var(--anmimation-duration) ease;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform var(--anmimation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.btnContainer {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-regular);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.black {
  color: var(--color-white);
  background-color: var(--color-black);
}

.grey {
  background-color: var(--color-grey);
}

.beige {
  background-color: var(--color-brown);
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--anmimation-duration) ease-out;
}

.item {
  position: relative;
  display: inline-table;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  /* background-color: var(--color-orange); */
}

.productImg {
  /* 너가 담겨 있는 박스 안에서만 최대치로 커져야 한다. */
  max-width: 100%;
  max-height: 100%;
}

.item_description {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
}

/* 화면이 768px 보다 작아질 때 */
@media screen and (max-width: 768px) {
  :root {
    /* 폰트 사이즈 */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__logo {
    position: relative;
    top: -6px;
  }

  .fit-picture {
    position: relative;
    top: 5px;
  }

  #navbar {
    height: 35px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-brown);
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  /* js 49번 째 줄 */
  .navbar__menu.open {
    display: block;
  }
}
