/* 글로벌 */
:root {
  /* 색깔 */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #49b5db;
  --color-dark-blue: #79a6e3;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-purple: #a885f2;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* 폰트 사이즈 */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* 폰트 두께 */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* 사이즈 */
  --size-border-radius: 4px;

  /* 애니메이션  */
  --anmimation-duration: 300ms;
}

/* 공통 태그들 */
* {
  /* 패딩을 줬을 때 높이와 넓이가 그 패딩을 포함 했을 때도 동일한 높이와 넓이가 되도록  */
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default; /* 커서 기본 값 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* 타이포그래피 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  /* 가운데 있는 요소들을 위로 붙여주기 */
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  /* 간격 주기 */
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  /* 해당 아이템이 선택 되어진 상태 */
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

/* Home */
#home {
  background: url("imgs/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* 공통 세션 */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px; /* 보통 1000~1200이 데스크탑에서 편히 볼 수 있는 사이즈 */
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  /* 애니메이션 */
  transition: all var(--anmimation-duration); /* 보통 추천 속도 250 ~ 350 */
}

.major__icon:hover i {
  /* 마우스 위에 올렸을 때 액션 */
  color: var(--color-dark-blue);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%; /* 해당 박스 왼쪽의 넓이를 60% */
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  /* width: 100%; */
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%; /* 해당 박스 오른쪽의 넓이를 40% */
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* 카테고리 버튼이 액티브일 때 카테고리 카운트와 
카테고리 버튼이 마우스가 올라 왔을 때 안에 있는 카테고리 카운트 일 때  */
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px; /* span 태그의 숫자 동그라미를 잘 맞춰 준다. */
  display: inline-block; /* span 태그의 숫자 동그라미를 잘 맞춰 준다. */
  position: relative;

  /* 평소에 안보이다가 액티브나 마우스가 위로 올라올 때 숫자가 밑으로 내려오게 한다. */
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--anmimation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  /* 너가 담겨 있는 박스 안에서만 최대치로 커져야 한다. */
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute; /* 이 태그의 부모인 project 태그가 릴레이티브이기에 
  그 박스에 맞춰서 앱솔루트가 실행 된다. */
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px); /* 아래로 내렸다가 */
  transition: all var(--anmimation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px); /* 마우스가 올라 올 때 검은 배경 위로 올라온다. */
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  /* 위 태그가 홀수일 때는 오른쪽 마진 40 주고 */
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  /* 위 태그가 짝수일 때는 왼쪽 마진 40 준다. */
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-blue);
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
  transition: all var(--anmimation-duration) ease-in;
}
