/* 글로벌 */
:root {
  /* 색깔 */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #49b5db;
  --color-dark-blue: #79a6e3;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-purple: #a885f2;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* 폰트 사이즈 */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* 폰트 두께 */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* 사이즈 */
  --size-border-radius: 4px;

  /* 애니메이션  */
  --anmimation-duration: 300ms;
}

/* 공통 태그들 */
* {
  /* 패딩을 줬을 때 높이와 넓이가 그 패딩을 포함 했을 때도 동일한 높이와 넓이가 되도록  */
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default; /* 커서 기본 값 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* 타이포그래피 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  /* 가운데 있는 요소들을 위로 붙여주기 */
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  /* 간격 주기 */
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  /* 해당 아이템이 선택 되어진 상태 */
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

/* Home */
#home {
  background: url("imgs/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* 공통 세션 */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px; /* 보통 1000~1200이 데스크탑에서 편히 볼 수 있는 사이즈 */
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  /* 애니메이션 */
  transition: all var(--anmimation-duration); /* 보통 추천 속도 250 ~ 350 */
}

.major__icon:hover i {
  /* 마우스 위에 올렸을 때 액션 */
  color: var(--color-dark-blue);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}
